---
import Layout from '../layouts/Layout.astro';
import type { Props as PropsType } from 'astro';

export interface Props {
	title: string;
	description: string;
pubDate: string;
}

const { title, description, pubDate } = Astro.props as PropsType;

---

<Layout title={title} description={description}>
	<div class="prose lg:prose-xl">
		<h1>{title}</h1>
		<p class="text-sm text-gray-500">Published: {pubDate}</p>
		<p class="text-gray-700">{description}</p>
		<slot />
	</div>
</Layout>